body{
    background: black;
}

.conteudo{
    text-align: center;
}

h1{
    margin: auto 0%;
    font-size: 60px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-weight: bold;
}

.header{
    text-align: center;
    margin: 1% auto;
    display: inline-flex;
}

img{
    width: 80px;
}

img:hover{
    transform: rotate(360deg) scale(2);
    margin-top: 50px;
    transition-duration: 2s;
    cursor: pointer;
}

h3{
    font-size: 20px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.calculadora{
    margin: 3% auto;
    /* background-color: #4669F9; */
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border: 2px solid black;
    border-radius: 15px;
    height: 450px;
    min-width: 300px;
    width: 25%;
}

.visor{
    width: 80%;
    margin: 5% auto 10% auto;
}

.visor input:disabled{
    direction: LTR;
    width: 95%;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    color: black;
    background-color: rgb(244, 248, 255);
    border: 3px solid black;
    border-radius: 10px;
    font-size: 40px
}

.botoes{
    width: 95%;
    height: 100%;
    margin: 1% auto 5% auto;
}

.fileira{
    height: 13%;
    margin: 1% 0%;
}

button{
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    width: 18%;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

button:active{
    transition-duration: 0.2s;
    transition-delay: 0.01s;
    transform: scale(.95);
}

button.btnOperacao{
    background-color: #F9F871;
}

button.btnNumero{
    background-color: white;
}

button.btnDuplo{
    width: 37%;
}

.corBranca{
    background-color: white;
}

.corReset{
    background-color: #7ED57B;
}

.corApagar{
    background-color: #d57b7b;
}

/* .espaco{
    margin-left: 19%;
} */

/* button:hover, button#limpar:hover, button#apagar:hover{
    cursor: pointer;
    background-color: #D4A418;
} */

button:hover{
    cursor: pointer;
    background-color: #D4A418;
}

@media screen and (max-width: 1500px){
    h1{
        font-size: 45px;
    }

    .calculadora{
        margin-top: 10%;
        height: 450px;
    }

    .visor{
        margin: 5% auto 10% auto;
        width: 80%;
    }

    .visor input:disabled{
        color: black;
        background-color: rgb(244, 248, 255);
        width: 80%;
        font-size: 25px;
        margin: 0% auto;
    }
}

@media screen and (min-width: 1850px){
    .visor{
        margin: 5% auto;
    }
}